name: Deploy MkDocs Site

on:
  push:
    branches:
      - main  # Set this to the branch you use for development

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4  # Checks-out your repository under $GITHUB_WORKSPACE

    - name: Set up Python
      uses: actions/setup-python@v4
      with:
        python-version: '3.10'  # Use the version of Python you need

    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install mkdocs
        mkdocs gh-deploy --force --clean --verbose
